.navbar {
  margin-left: 100px;
}


@media (max-width: 767px) {
  .menu-toggle {
    right: 0px !important;
  }
}

.heroImge {
  text-align: right;
}
.heroText {
  text-align: left;
}
.heroText h1 {
  text-align: left;
}

.heroText h3 {
  height: auto;
  max-height: 100px;
}


@media (max-width: 768px) {
  .heroSection {
    width: auto;
    max-width: 768px;
    height: auto;
    max-height: 600px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    gap: 20px;
    padding: 0 20px;
    margin: 50px auto 0;
  }

  .heroImge {
    order: 0;
    width: 100%;
    max-width: 768px;
    height: auto;
    text-align: left;
  }

  .heroImge img {
    max-width: 100%;
    height: auto;
  }

  .heroText {
    order: 1;
    width: 100%;
    text-align: center;
  }

  .heroText h1 {
    font-size: 32px;
    font-weight: 600;
    width: 100%;
    height: auto;
    margin: 10px 0;
    line-height: 1.5;
    text-align: center;
  }

  .heroText h3 {
    margin-top: 0;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }

  .request-services-btn {
    font-size: 16px;
    padding: 10px 24px;
  }
}

  .services-section .request-service-btn {

    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 100px;
  }

.request-service-btn {
  background-color: #42a9c4;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  max-width: 160px;
  height: 54px;
  cursor: pointer;
}



.serviceses {
  direction: ltr;
}

.service-content {
  text-align: left;
}
 
.service-text {
  text-align: left;
  padding-left: 20px;
}

.service-text h3 {
   height: auto;
  max-height: 100px;
  text-align: left;
}
.service-text p {
  text-align: left;
}


.solution-card p {
  padding-left: 55px;
}


.service-request-section {
  direction: ltr;
}

.form-group {
  text-align: left;
}


.site-footer {
  direction: ltr;
}

.footer-logo {
  margin-top: 40px;
  margin-left: 100px;
}

.social-icons {
  margin-left: 110px;
}

.marg{
  margin-right: 0px ;
  margin-left: 100px;
}

@media (max-width: 1024px) {
  .marg{
  margin-left: 0px;
  margin-right: 0px;

}
}



.solution-card p {
  padding-right: 0px;
  padding-left: 55px;
}

.distribution {
  width: auto;
  max-width: 150px;
  height: 45px;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.service-image img {
  width: auto;
  max-width: 480px;
  height: auto;
  justify-content: flex-end;
  align-items: flex-end;
  max-height: 490px;
  margin-right: 0px;
  margin-left: 80px;
}